{% load static %}

<html>
    <head>
        <title>Halpaa Hinta - Haku</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link href="{% static 'halpaa_hinta/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <form action="{% url 'search' %}" method="post">
            {% csrf_token %}
            <div class="imgcontainer">
                <img src="{% static 'halpaa_hinta/images/logo.png' %}" alt="Halpaa hintaa" class="logo">
            </div>
            {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
            {% endif %}
            <div class="container">
                <h1>Haku</h1>
                <br><br>
                <label for="search"><b>Hakusana</b></label>
                <input type="text" placeholder="Syötä hakusana" name="search" required>
                <br><br>

                <input type="hidden" name="next" value="{{ request.GET.next}}">
                <button type="submit">Hae</button>

                <a href="{% url 'home' %}" >Takasin</a>

            </div>
        </form>

        {% for res in search_results %}
            <p>{{ res.name }} </p>
        {% endfor %}
        
    </body>
</html>